.mainEventContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.eventContainer {
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.time {
    color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
}