.mainEventContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;


}

.mainBox {
    width: 500px;
}
.textfield {
    width: 300px;
    align-self: center;
    
}
/* .eventContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.timeContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
} */


