body {
  height: 100vh;
  background-image: url('../public/Images/backgroundImage.gif');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}