.container-event {
    width: 600px;
    height: 305px;
    background-color: rgba(2, 1, 0, 0.300);
    box-shadow:
    inset 0 -3em 3em rgb(0 0 0 / 10%), 0em 0em 1em 0px rgb(0 0 0 / 30%);
    border-radius: 12px;
    margin: auto;
    margin-right: 50px;
    justify-content: center;
    margin-top: 3%;
    position: relative;
    border: 1px solid white;
}

.inner-event {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    top: 25px;
    left: 85px;
}

.line-profile-in-meeting {
    width: 75%;
    border-bottom: 1px solid white;
}

.text-profile-in-meeting {
    margin-top: 3px;
    /* display: flex; */
    justify-content: center;
    width: 100%;
    font-size: 10px;
    color: aliceblue;

}

.super-container-event {
    width: 100%;
}

.chat-event {
    width: 55rem;
    height: 37.5em;
    background-color: rgba(2, 1, 0, 0.400);
    margin-top: 2%;
    position: absolute;
    margin: auto;
    box-shadow:
    inset 0 -3em 3em rgb(0 0 0 / 10%), 0em 0em 1em 0px rgb(0 0 0 / 30%);
    border-radius: 12px;
    margin-left: 50px;
    border: 1px solid white;
}

.text-title-profile-in-meeting {
    display: flex;
    justify-content: center;
}

.text-body-profile-in-meeting {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.img-profile-in-meeting {
    border-Radius: 50%;
    border: 1px solid black;
    margin-top: 20px;
}

.container-dog-in-meeting{
    width: 600px;
    height: 238px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dog-profile-in-meeting {
    width: 600px;
    height: 289px;
    background-color: seashell;
    box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0em 0em 1em 0px rgb(0 0 0 / 30%);
    border-radius: 12px;
    margin: auto;
    justify-content: center;
    margin-top: 3.4%;
    flex-direction: row;
}

.dog-profile-in-meeting_2 {
    width: 280px;
    height: 289px;
    background-color: seashell;
    box-shadow:
    inset 0 -3em 3em rgb(0 0 0 / 10%), 0em 0em 1em 0px rgb(0 0 0 / 30%);
    border-radius: 12px;
    margin: auto;
    justify-content: center;
    margin-top: 9%;
    margin-right: 0;
    font-size: 11px;
}

.css-ohwg9z {
    overflow: unset !important;
}

.css-1ps6pg7-MuiPaper-root {
    background-color: rgba(76, 175, 80, 0) !important;
}

.css-1abc02a {
margin-top: 65px !important;
}

.css-hn784z {
margin-top: 65px !important;
}