#container-Navbar {
    font-size: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 0.5px solid rgb(121, 111, 111); */
}

.line {
margin-top: 30px;
    border-bottom: 0.5px solid rgb(121, 111, 111);
}


/* .color-Navbar:hover {
    background-color: #b2a9a5;
    transition: 1s;
    opacity: 0.2;
    color: #eaa810;
} */

.logo-Navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo-color-Navbar {
    color: black;
    text-decoration: none;
}

.logo-color-Navbar:hover {
    color: #eaa810;
    scale: 1.2;
    transition: 1s;
}

.text-color-Navbar {
    color: rgb(121, 111, 111);
    margin-right: 15px;
}

.text-color-Navbar:hover {
    transition: 1s;
    color: #eaa810;
    text-decoration: underline;
    transform: scale(1.030);
}

.logo-circle-Navbar {
    border: solid 1px black;
    border-radius: 50%;
}

.logo-circle-Navbar:hover {
    border: solid 1px #c35507;
    transform: scale(1.030);
}

.shade-Navbar {
    /* box-shadow: inset -3px -1em 3em rgb(0 0 0 / 10%), -1px -3px 0 2px rgb(255 255 255), 0em 0em 1em 5px rgb(0 0 0 / 30%); */
}

.logo-position-Navbar {
    /* display: flex;
    justify-content: flex-start; */
}

.position-Navbar {
    display: flex;
margin-left: 650px;
}

.nav-link.active {
    color: #c35507 !important;
}

.new-logo_Navbar {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.letter-Navbar {
color: #c35507;
}

.line-box2 {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #c35507;
    margin-top: 60px;
    opacity: 0.2;
  }

  /* .line-box2:hover {
    background: #dfa212;
    transform: scale(1.030);

  } */
  .line2 {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #EFAC3F;
    transition: ease .6s;
  }
  .input:focus + .line-box2 .line2 {
    width: 100%;
  }

  .dropdown-menu {
    color: white;
    border: 3px solid rgba(230, 151, 23, 0.323);
    background-color: seashell;
    --bs-dropdown-link-hover-bg: #eaa810;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #c35507;
  }

  /* .dropdown-item.active, .dropdown-item:active {
    background-color: #c35507;
  } */